---
// import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
// import Slideshow from '../components/Slideshow.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<div class="w-full h-ssvh flex flex-col justify-center items-center">
			<div class="w-10/12 flex flex-col justify-center items-center">
				<h1 class="text-1xl max-w-[62.5rem] text-balance mb-4">
					Reblog
				</h1>
				<h1 class="text-3xl lg:text-5xl max-w-[62.5rem] text-balance">
					Retrieve0的个人博客<br>抽象，技术，生活。
				</h1>
				<h1 class="text-1xl text-center text-balance my-7">
					代表着归零，代表着失败，Retrieve是一切物体一切生物最终的归属。面对命中注定的失败，每天痛哭。
				</h1>
				<div class="flex md:flex-row flex-col md:items-center gap-xs items-center">
					<a href="/Reblog/blog" class="py-[0.4rem] px-7 text-1xl bg-black dark:bg-white text-white dark:text-black rounded-full flex flex-row">
						<h3 class="mr-2">所有文章</h3>
						<svg width="0.625rem" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 9L9 1M9 1H2.5M9 1V7.22222" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
					</a>
					<a href="/Reblog/About" class="my-5 py-[0.4rem] px-7 text-1xl flex flex-row">
						<h3 class="mr-1 text-xs">查看关于此网站的技术</h3>
						<svg xmlns="http://www.w3.org/2000/svg" style="transform:rotate(-90deg)" width="0.5625rem" viewBox="0 0 14 8" fill="none">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M0.292892 0.292894C0.683416 -0.0976306 1.31658 -0.0976315 1.70711 0.292892L7.00002 5.58579L12.2929 0.292894C12.6834 -0.0976306 13.3166 -0.0976315 13.7071 0.292892C14.0976 0.683416 14.0976 1.31658 13.7071 1.70711L7.70713 7.70711C7.51959 7.89464 7.26524 8 7.00002 8C6.7348 8 6.48045 7.89464 6.29291 7.70711L0.292894 1.70711C-0.0976306 1.31658 -0.0976315 0.683419 0.292892 0.292894Z" fill="currentColor" />
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div class="w-full h-ssvh flex flex-col justify-top items-center justify-center">
			<div>
				Retrieve0与 失败学
			</div>
			<div class="w-10/12 flex text-center text-balance my-5 justify-center">
				受到知乎@勃失败(原ID：曾博)的影响，Retrieve0非常喜欢失败学，失败学是一个由勃失败和其它高学历知乎用户提出的理论体系，旨在为社会中的失败人士提供精神支持和行动指南。失败学关注人在面对失败后如何思考、生活和寻求智慧。失败人士从失败学中汲取智慧，探索失败背后的深层意义，并在自己的生活和思考中实践这一哲学。
			</div>
		</div>
		<div class="w-full h-ssvh flex flex-col justify-top items-center justify-center">
			<div>
				Retrieve0与 Until SoftWare: Relink
			</div>
			<div class="w-10/12 flex text-center text-balance my-5 justify-center">
				非常感谢Neboer以及 Until SoftWare: Relink 全体成员对我的帮助，对我的教导，收益颇丰，感激不尽！
			</div>
		</div>
		<div class="w-full h-ssvh flex flex-col justify-top items-center justify-center">
			<div>
				Retrieve0与 技术
			</div>
			<div class="w-10/12 flex text-center text-balance my-5 justify-center">
				Retrieve0没有什么技术，很菜（至少目前是这样。）Retrieve0在技术上偏向网页设计，主要使用Vue，Astro。Typescript(纯绊脚石，换了：Javascript，前端组件库使用Navie。使用Python编写小软件。
			</div>
		</div>
		<div class="w-full h-ssvh flex flex-col justify-top items-center justify-center">
			<div>
				Retrieve0与 蒸馍...
			</div>
			<div class="w-10/12 flex text-center text-balance my-5 justify-center">
				蒸...蒸你没商量！
			</div>
		</div>
	</main>
</Layout>