---
export interface IntroduceUS {}

---
<div class="w-full min-h-ssvh flex flex-col justify-top items-center justify-center">
    <div>
        Retrieve0与 Until SoftWare: Relink
    </div>
    <div class="w-full flex flex-col items-center text-left text-balance my-5 justify-center">
        <div class="w-10/12 flex-row items-center hidden md:flex">
            <div class="">
                <div class="h-11 flex flex-row -mb-5">
                    <div class="w-[10%]">
                    </div>
                    <div class="bg-slate-300 font-semibold text-black rounded-md content-center -rotate-12 text-3xl px-7" style="background: linear-gradient(153.58deg, #f7bdf8 32.25%, #2f3cc0 92.68%)">
                        非常
                    </div>
                </div>
                <div class="min-h-11 flex flex-row">
                    <div style="width: 100px;">
                    </div>
                    <div class="bg-slate-300 dark:bg-[#ff8709] font-semibold text-black rounded-md px-8 py-4 content-center text-7xl" style="background: linear-gradient(114.41deg, #0ae448 20.74%, #abff84 65.5%);">
                        Neboer
                    </div>
                </div>
                <div class="h-11 flex flex-row -mt-2">
                    <div class="w-[13%]">
                    </div>
                    <div class="bg-slate-300 font-semibold text-black rounded-md px-7 content-center text-3xl" style="background: linear-gradient(111.45deg, #ff8709 19.42%, #f7bdf8 73.08%)">
                        感谢
                    </div>
                </div>
            </div>
            <img src="/Reblog/Neboer.png" class="rounded-full mx-5 w-44" />
        </div>
        <!-- <div class="w-10/12">
            <div class="h-11">

            </div>
            <div class="h-11">

            </div>
            <div class="h-11">

            </div>
        </div> -->
    </div>
    <div class="w-10/12 flex text-center text-balance my-5 justify-center">
        非常感谢Neboer以及 Until SoftWare: Relink 全体成员对我的帮助，对我的教导，收益颇丰，感激不尽！
    </div>
</div>