---
import Nav from './Nav.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en" class="bg-white dark:bg-black dark:text-white">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Nav></Nav>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<div class="w-full h-12"/>
		<slot />
	</body>
	<Footer />
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		/* font-family: system-ui, sans-serif; */
		font-family: Söhne, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.h-ssvh{
		height: calc(100svh - 3rem);
	}
	.box {
        width: 100px;
        height: 100px;
        background: red;
      }
	  
</style>
